.img-fluid {
  max-width: 100%;
  height: auto;
}
.baner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qr-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}
.qr {
  max-width: 200px;
  display: block;
}
.adverse-link-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.adverse-qr{
  display: flex;
  flex-direction: column;
}
.adverse-link{
  flex-grow: 1;
  align-self: flex-end;
  padding: 1rem 1rem 0 1rem;
  max-width: 100%;
}
.adverse-link button {
  width: 100%;
}
@media screen AND (max-width: 576px){
  .qr-section {
    flex-wrap: wrap;
}
  .adverse-qr {
    flex-grow: 1;
    justify-content: center;
  }
  .qr {
    max-width: 100%;
  }
}

.wallet-section ,.wallet-details{
  display: flex;
  flex-direction: row;
}


.copy-btn {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    user-select: text !important;
    cursor: text !important;
    max-width: 100% !important;
    text-align: left;
    word-break: break-all !important;
}


.baner-section .btn-success {
    margin-top: 10px;
}
