@import url(//fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700);
@import url(//fonts.googleapis.com/css?family=Oswald:100,400,300,600,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,600,700);

.update-nag{
	display: none !important;
}
.uap-clear{
	clear: both;
}

.uap-dashboard-wrap{
	width: 100%;
}
.toplevel_page_ultimate_affiliates_pro .update-nag,.toplevel_page_ultimate_affiliates_pro .notice,.toplevel_page_ultimate_affiliates_pro .notice-success,.toplevel_page_ultimate_affiliates_pro div.error,.toplevel_page_ultimate_affiliates_pro div.updated{
	display: none;
}
.uap-dashboard-wrap .uap-admin-header{
	height: 100px;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}

.uap-dashboard-wrap .uap-admin-header .uap-top-menu-section{
	z-index: 1;
	position: absolute;
	height: 100px;
	width: 100%;
	padding-right: 20px;
	margin-left: -20px;
	box-sizing:content-box;
	background-color: #616f76;
	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
}

.uap-dashboard-wrap .uap-admin-header .uap-top-menu-section .uap-dashboard-menu{
	width: 100%;
	height: 100%;
	right: 0px;
	padding-left: 200px;
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	background: url("../images/dashboard-underline.jpg") 0 bottom repeat-x;
	z-index: 1;
}
.uap-dashboard-logo{
	position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    background-color: #239fdd;
    z-index: 2;
}
.uap-dashboard-wrap ul{
	margin-top: 0px;
	    padding: 0px;
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999996;
}
.uap-dashboard-title{
	  font-size: 28px;
	  font-weight: 400;
	  padding: 0;
	  text-transform: uppercase;
	  font-family: Oswald, Helvetica, Arial, sans-serif;
	  color: rgba(118, 118, 118, 1.0);
	  margin-bottom: 20px;
	  line-height: 1.1;
}
.uap-dashboard-title .second-text {
  text-transform: initial;
  font-size: 24px;
  color: #444;
}
.uap-dashboard-wrap .uap-admin-header .uap-top-menu-section .uap-dashboard-menu ul li{
	float: left;
	height: 100%;
	width: 7.5%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid rgba(255,255,255, 0.1);
	color: #FFF;
	z-index: 999996;
	position: relative;
}
.uap-dashboard-wrap .uap-admin-header .uap-top-menu-section .uap-dashboard-menu ul li a {
	text-decoration: none;
	color: #fff;
	display:block;
}
.uap-dashboard-wrap ul li.selected, .uap-dashboard-wrap ul li:hover {
    background-color: rgba(255,255,255,0.1);
}
.uap-dashboard-wrap .uap-admin-header .uap-top-menu-section .uap-dashboard-menu .uap-page-title{
	font-size: 9px;
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 15px;
}
@media screen and (max-width: 1280px) {
.uap-dashboard-wrap .uap-admin-header .uap-top-menu-section .uap-dashboard-menu .uap-page-title div{
	/*display:none;*/
}
}
.uap-wrapper {
    padding: 10px 30px;
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
}
.uap-dashboard-wrap .uap-stuffbox{
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0px;
	line-height: 1;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);

}
.uap-dashboard-wrap .uap-stuffbox .uap-h3{
	background-color: #fff;
	font-weight: bold;
	color: #333;
	background-image: none;
	text-shadow: none;
	box-shadow: inset 0px -5px 10px 2px rgba(0,0,0,0.03);
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	padding: 16px 12px;
	line-height: 1.4;
	border-bottom: 1px solid #ccc;
	margin: 0px;
}
.uap-dashboard-wrap .uap-magic-stuffbox{
}
.uap-dashboard-wrap .uap-magic-stuffbox .uap-h3{
    background: #f1f4f8;
    color: #47597a;
}
.uap-dashboard-wrap .uap-sutffbox .uap-stuffbox-inside{
	padding: 0 12px 12px;
	line-height: 1.4em;
	font-size: 13px;
	background-color: #fff;
}

.uap-stuffbox .inside {
    padding: 10px 12px 12px;
    line-height: 1.4em;
    font-size: 13px;
}

.uap-dashboard-wrap .uap-magic-stuffbox .inside {
    background: #fdfdfd;
}
.uap-dashboard-wrap .uap-sutffbox .uap-stuffbox-inside .uap-stuffbox-submit-wrap{
	margin-top: 20px;
}
.uap-dashboard-wrap th{
  font-family: 'Oswald', arial, sans-serif !important;
  font-weight:400;
}

.uap-dashboard-wrap .uap-stuffbox{
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0px;
	line-height: 1;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);

}



.uap-dashboard-wrap .uap-sutffbox .uap-stuffbox-inside{
	padding: 0 12px 12px;
	line-height: 1.4em;
	font-size: 13px;
	background-color: #fff;
}

.uap-dashboard-wrap .uap-sutffbox .uap-stuffbox-inside .uap-stuffbox-submit-wrap{
	margin-top: 20px;
}

.uap-form-line{
	padding: 10px 5px;
    border-bottom: 1px solid #fafafa;
    box-sizing: border-box;
}

.uap-form-line .uap-label{
    min-width: 140px;
    text-align: right;
    padding-right: 15px;
    display: inline-block;
}
.uap-form-line input[type=text], .uap-form-line textarea{
	min-width: 400px;
}
.uap-form-line .uap-submit-form{
	padding: 10px 5px;
}
.uap-delete-wrapp{
	margin: 10px 0px;
	display:inline-block;
}

.uap-add-new-like-wp{
    padding: 0px 16px 0px 0px;
    background-color: #2196f3;
    border: 1px solid transparent;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
    line-height: 20px;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    min-width: 120px;
    display: inline-block;
    margin-right: 10px;
	/*position: relative;
	display: inline-block;
	text-decoration: none;
	border:1px solid transparent;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 13px;
	line-height:13px;
	vertical-align:middle;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
	cursor: pointer;
	outline: none;
	padding: 8px 14px;
	min-width:100px;
	margin: 0;
	/*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
	/*border-radius: 4px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	color: #ffffff;
	background: linear-gradient(#f2616e,#d94856);
	background-image: -ms-lienar-gradient(#f2616e,#d94856);
	background-image: -webkit-linear-gradient(#f2616e,#d94856);
	background-image: -o-linear-gradient(#f2616e,#d94856);
	background-image: -moz-linear-gradient(#f2616e,#d94856);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2616e', endColorStr='#d94856', GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2616e', endColorStr='#d94856', GradientType=0);
	*/
}
.uap-add-new-like-wp i{
    background-color: #0d8aee;
    padding: 11px;
    font-size: 16px;
    margin-right: 10px;
}
.uap-add-new-like-wp:hover{
	color:#fff !important;
  	/*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);*/
 /* background: linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -ms-lienar-gradient(#FFFFFF,#EEEEEE);
  background-image: -webkit-linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -o-linear-gradient(#FFFFFF,#EEEEEE);
  background-image: -moz-linear-gradient(#FFFFFF,#EEEEEE);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0);
	text-shadow:none;
	border:1px solid #bbb;
	color: #333;*/
}
.showcases-wrapp {
    margin-top: 40px;
}
.showcases-wrapp .uap-popup-shortcodevalue {
    text-transform: none;
    font-size: 17px;
    width: 250px;
    height: 250px;
    max-width: 20%;
}
.showcases-wrapp .uap-popup-shortcodevalue span {
    display: block;
    line-height: 20px;
    color: #999;
    font-weight: 500;
    font-size: 14px;
    padding: 0 15px;
    padding-top: 25px;
    font-style: italic;
}
.showcases-wrapp .uap-popup-shortcodevalue {
    text-transform: none;
    font-size: 17px;
    width: 250px;
    height: 250px;
    max-width: 25%;
    padding: 10px 0px;
    color: #888;
    font-size: 16px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    margin: 10px 20px;
    float: left;
    font-family: "Open Sans",bold;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    /*text-transform: uppercase;*/
    line-height: 20px;
}
.uap-popup-shortcodevalue:hover {
    color: #d9534f;
    cursor: pointer;
}

.uap-subtab-menu {
    width: 100%;
    position: relative;
    top: -25px;
    background-color: rgba(0,0,0,0.7);
    margin-left: -20px;
    padding: 5px 0px 5px 20px;
    background-color: rgba(80,103,132,1);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-bottom: 1px solid #fff;
    /*padding: 8px 0px 8px 20px;*/
    padding: 0px 0px 0px 20px;
	box-sizing:content-box;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
.uap-subtab-menu .uap-subtab-menu-item {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    box-sizing: border-box;
    float: right;
}
.uap-subtab-menu .uap-subtab-menu-item:hover, .uap-subtab-menu .uap-subtab-selected {
    background-color: rgba(0,0,0,0.25);
}
.uap-subtab-menu .uap-subtab-menu-item:first-child{
	margin-left:190px;
}
#uap-register-fields-table tbody tr {
    cursor: move;
}

.uap-special-line {
    font-weight: bold;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid rgba(31, 181, 172, 1.0);
    margin: 5px -11px 10px -11px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.uap-special-box {
	font-weight: bold;
    padding: 10px 30px;
    padding-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid rgba(31, 181, 172, 1.0);
    border-top: 2px solid rgba(31, 181, 172, 1.0);
    margin: 5px -30px 10px -25px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.uap-special-box  .uap-general-date-filter-wrap input[type=text], .uap-special-box  .uap-general-date-filter-wrap select{
	min-width: 200px;
    min-height: 30px;
    padding: 3px 5px;
	box-sizing:border-box;
    vertical-align: baseline;
}
.uap-special-box  .uap-general-date-filter-wrap input[type=submit]{
	margin:0 10px;
	padding: 0 22px 2px
}
.uap-form-line{
	min-width: 120px;
    padding-right: 15px;
}

.uap-form-line select {
    min-width: 250px;
}

.uap-page-title {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    text-transform: capitalize;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: rgba(118, 118, 118, 1.0);
    margin: 15px 0;
    line-height: 1.1;
}

/* ============= checkbox style on/off ============= */

.uap_label_shiwtch{
	font-size:15px !important;
}
input[type="checkbox"].uap-switch {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].uap-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 150%; /* change this and see how they adjust! */
	box-sizing:content-box;
}

input[type="checkbox"].uap-switch:checked + div {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

input[type="checkbox"].uap-switch + div:before {
	content: 'On';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

input[type="checkbox"].uap-switch:active + div:before {
	background-color: #eee;
	box-sizing:content-box;
}

input[type="checkbox"].uap-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

input[type="checkbox"].uap-switch + div:before,
input[type="checkbox"].uap-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
	box-sizing:content-box;
}

input[type="checkbox"].uap-switch + div:after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;
}
/* ============= END checkbox style on/off ============= */

.showcases-wrapp .uap-popup-shortcodevalue span {
    display: block;
    line-height: 20px;
    color: #999;
    font-weight: 500;
    font-size: 14px;
    padding: 0 15px;
    padding-top: 25px;
    font-style: italic;
}
.uap-register-select-template {
    font-weight: bold;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid rgba(31, 181, 172, 1.0);
    margin: -10px -11px 15px -11px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.uap-dashboard-textarea{
	width: 400px;
    height: 100px;
}
.uap-checkbox{
	min-width: initial !important;
}

.rank-graphic-representation{
	max-width: 93%;
	padding-left: 4%;
	height: 100%;
	border-bottom: 1px solid #ddd;
	margin: 15px;
	color: #fff;
	font-size: 10px;
	display:inline-block;
}
.rank-graphic-representation .uap-rank-item{
	margin-right: 15px;
	width: auto;
	padding: 3px;
	background-color: #0bb586;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
}
.rank-graphic-representation .uap-current-rank{
	background-color: #ed6d62;
}

#achieve_rules_view{
	margin-top: 10px;
}

.achieve-item{
	padding: 15px 10px;
    margin: 5px 4px;
    color: #fff;
    background-color: #607d8b;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    border-radius: 5px;
    opacity: 0.8;
}
.achieve-item-relation{
	vertical-align: middle;
    display: inline-block;
    padding: 7px;
    background-color: #eee;
    border-radius: 100%;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Oswald;
}
#add_new_achieve{
	margin: 10px 0px;
}
#achieve_reset{
	margin-top: 10px;
}

/************  SELECT COLORS ****************/
.uap-colors-ul{
    margin-top: 2px;
    min-width: 135px;
}
.uap-color-scheme-item, .uap-color-scheme-item-selected {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.uap-color-scheme-item:hover, .uap-color-scheme-item-selected {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/************** AUTOCOMPLETE **************/
.uap-tag-item{
	background-color: #1FC4C8;
    color: #fff;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    min-width: 40px;
}
.uap-remove-tag{
	cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    float: right;
}

/***************** LISTING OFFERS ****************/
.uap-offer-items-wrap{
	margin:30px 0px 30px 0;
}
.uap-admin-dashboard-offer-box-wrap{
	width: 25%;
	min-width: 365px;
	max-width:465px;
	padding: 20px;
	padding-left:0px;
  	float:left;
	box-sizing:border-box;
	height:240px;
	color: #fff;
}
@media screen and (max-width: 1440px) {
    .uap-admin-dashboard-offer-box-wrap{
       width: 33%;
    }
}
.uap-admin-dashboard-offer-box{
	display:block;
	height:100%;
	width:100%;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-family: "Roboto", sans-serif;
	overflow:hidden;
	position:relative;
}
.uap-admin-dashboard-offer-box-title{
	margin:3px 5px;
	line-height:40px;
	border-bottom:solid 1px rgba(255,255,255,0.7);
	font-family: "Roboto", sans-serif;
	font-size:33px;
	font-weight:200;
	height:46px;
	padding:2px 0 3px 5px;
	box-sizing:border-box;
	overflow:hidden;
}
.uap-admin-dashboard-offer-box-content{
	padding:2px 5px 3px 10px;
	box-sizing:border-box;
	font-size: 15px;
	font-weight: normal;
	height:103px;
    overflow: hidden;
}
.uap-admin-dashboard-offer-box-content span{
	font-weight:700;
}
.uap-admin-dashboard-offer-box-bottom{
	line-height:37px;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:200;
	height:45px;
	padding:4px 0 4px 5px;
	box-sizing:border-box;
  	background-color: rgba(0,0,0,0.15);
	position: relative;
  	z-index: 100;
}
.uap-admin-dashboard-offer-box-files{
	float:left;
	padding-left:10px;
}
.uap-admin-dashboard-offer-box-files i{
	margin-right:15px;
	font-size: 24px;
	cursor:pointer;
	color:rgba(255,255,255,0.9);
}
.uap-admin-dashboard-offer-box-files i:hover{
	color:#fff;
}
.uap-admin-dashboard-offer-box-dest{
	font-size: 13px;
	font-weight:200;
	display:inline-block;
	padding-left:8px;
    border-left: solid 1px rgba(255,255,255,0.3);
}
.uap-admin-dashboard-offer-box-dest span{
	font-weight:500;
}
.uap-admin-dashboard-offer-box-date{
	float:right;
	padding-right:10px;
	line-height:18px;
	font-size:13px;
	box-sizing:border-box;
	text-align:right;
	font-weight:500;
}
.uap-admin-dashboard-offer-box-date .date-message{
	font-weight:200;
}

.uap-admin-dashboard-offer-box-links-wrap{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.5);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition:  all 0.5s ease;
	-o-transition: all 0.5s ease;

}
.uap-admin-dashboard-offer-box-main:hover .uap-admin-dashboard-offer-box-links-wrap{
	opacity:1;
}
.uap-admin-dashboard-offer-box-links{
	padding-bottom: 100%;
	position: relative;
	bottom: -30%;
	text-align: center;
}
.uap-admin-dashboard-offer-box-link{
	border:solid 1px #fff;
	padding:5px 15px;
	min-width:80px;
	box-sizing:border-box;
	margin:15px 10px;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	font-family: "Roboto", sans-serif;
}
.uap-admin-dashboard-offer-box-link:hover{
	background-color:#fff;
	color:#333;
}
.uap-admin-dashboard-offer-box a{
	color: #fff;
}

.refferal-chang-status{
	font-size: 11px;
	color: #0073aa;
	cursor: pointer;
}
.referral-status-verified, .referral-status-refuse, .referral-status-unverified{
	border-radius: 3px;
	padding: 3px 15px;
	display: inline-block;
	color: #fff;
}
.referral-status-verified{
	background-color: #0bb586;
}
.referral-status-refuse{
	background-color: rgba(240, 80, 80, 0.8);
}
.referral-status-unverified{
	background-color: #f8ba01;
}
.uap-list-banner-img{
	width: 120px;
}

/**************** MAGIC FEATURES *********************/
.uap-magic-box-wrap{
	width: 25%;
    min-width: 300px;
    max-width: 465px;
    padding: 20px;
    padding-left: 0px;
    float: left;
    box-sizing: border-box;
    height: 250px;
    color: #fff !important;

}
.uap-magic-feat-not-available{
	background-color: #C99999 !important;
}


@media (max-width: 1500px){
.uap-magic-box-wrap{
	width: 33%;
}
}

.uap-magic-box-wrap a{
	text-decoration: none;
	/*display:inline-grid;*/
}
.uap-magic-box-wrap .uap-magic-feature{
	display: block;
    height: 100%;
    width: 100%;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
    background-color: #f16186;
    background-color: #f25a68;
	position:relative;
	-webkit-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    -moz-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    -o-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    -ms-transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
    transition: top 1.4s ease, left 0.4s ease, box-shadow 0.5s ease;
}
.uap-magic-box-wrap .uap-magic-feature:hover{
	top:-5px;
	box-shadow: 5px 0px 30px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 0px 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 0px 30px rgba(0,0,0,0.2);

}
.uap-magic-box-wrap .uap-magic-feature .uap-magic-box-title{
	margin: 3px 5px;
    line-height: 40px;
    /* border-bottom: solid 1px rgba(255,255,255,0.7); */
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    /* height: 50px; */
    overflow: hidden;
    /* margin-bottom: 86px; */
    text-align: center;
	color:#fff;
}
.uap-magic-box-wrap .uap-magic-feature .uap-magic-box-icon{
	font-size: 90px;
    text-align: center;
    line-height: 103px;
    padding-top: 15px;
    box-sizing: border-box;
	color:#fff;
}
.uap-magic-box-wrap .uap-magic-feature .uap-magic-box-desc{
	font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.uap-dashboard-inside-table{
	width: 100%;
	margin: 5px 0px;
	font-family: verdana,arial,sans-serif;
    font-size: 11px !important;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
.uap-dashboard-inside-table th{
    border-bottom: 1px solid #eee;
    background-color: #ed6d62;
    border-top: 1px solid #eee;
    color: #fff !important;
	font-weight: 500;
    text-align: left;
    font-size: 15px !important;
    padding: 9px 10px !important;
}
.uap-dashboard-inside-table tr{
}
.uap-dashboard-inside-table tr:nth-child(even){
    background: #fff;
}
.uap-dashboard-inside-table tr:nth-child(odd){
    background-color: #fcfcfc;
}
.uap-dashboard-inside-table tr td{
	border-bottom: 1px solid #ddd;
    padding: 6px 10px !important;
}
.uap-dashboard-inside-table tr td:first-child{
	font-weight: bold;
    color: #2a81ae;
}
.uap-dashboard-inside-table tr td select{
	vertical-align: top;
}
.uap-dashboard-inside-table tr td input{
	width:50%;
}
.uap-input-number{
	min-width: 100px !important;
}

.uap-labels-onbutton{
	width: 10%;
	display: inline-block;
}

.uap-payments-stats{

}
.uap-shortcode-display{
    width: 100%;
    padding: 15px 0;
    background-color: #39434D;
    color: #ededed;
    text-align: center;
}

.payment-form-details{
	font-size: 11px;
	color: #333;
	padding: 3px;
	margin: 2px 0px;
}

.uap-filters-wrapper{
	background-color:#fafafa;
	border:1px solid #ddd;
	margin-right:10px;
}
.uap-filters-wrapper select{
	min-width:70px;
}
.uap-filters-wrapper input{
	width:100%;
}
.uap-filters-wrapper .row-fluid [class*="span"] {
	padding:20px 30px 20px 30px;
	text-align:center;
}
.row-fluid {
    width: 100%;
}
.row-fluid .span4 {
    width: 31.623931623931625%;
}
.uap-special-buttons-users {
    clear: both;
    min-height: 40px;
}
.uap-special-button {
	float: right;
    cursor: pointer;
    outline: none;
    padding: 0px 16px 0px 0px;
    background-color: #0bb586;
    border: 1px solid transparent;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
    line-height: 20px;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    min-width: 120px;
    display: inline-block;
    margin-right: 10px;
}
.uap-special-button i {
    background-color: rgba(0,0,0,0.2);
    padding: 11px;
    font-size: 16px;
    margin-right: 10px;
}
.uap-span4, .uap-span2, .uap-span3, .uap-span1{
	display: inline-block;
}
.uap-dashboard-top-box{
    width: 100%;
	margin-right: 15px;
    min-height: 100px;
    margin-bottom: 30px;
    background: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
	display: inline-block;
}
.uap-dashboard-top-box .stats{
    padding-left: 5px;
	display: inline-block;
	vertical-align: top;
}
.uap-dashboard-top-box h4 {
    font-weight: 600;
    color: #505458;
    margin: 10px 0 15px 0;
    font-size: 27px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
.uap-flot {
    width: 100%;
    height: 300px;
}
.uap-last-five{
	background-color: #1fb5ac !important;
    color: #fff;
}
.uap-box-right-dashboard{
    display: inline-block;
    width: 100%;
    min-height: 727px;
    padding: 20px;
	box-sizing:border-box;
    vertical-align: top;
	background-color: #607d8b;
    color: #fff;
}
.uap-dashboard-top-affiliate-single{
	margin-bottom:18px;
}
.uap-dashboard-top-affiliate-single .uap-top-name{
	font-weight:bold;
	font-size: 14px;
}
.uap-dashboard-top-affiliate-single .uap-top-name span{
	background-color:#fff;
	border-radius:100%;
	color:#607d8b;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
.uap-dashboard-top-affiliate-single .uap-top-count{
	padding-left:25px;
}
.uap-box-content-dashboard .info-title, .uap-box-right-dashboard .info-title{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
	margin-bottom: 20px;
}

/******** WP EDITOR CUSTOM BUTTON ********/
i.mce-i-uap_btn_forms{
  font: 400 20px/1 dashicons;
  padding: 0 2px 0 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  background-color: #f36510;
  color: #fff !important;
  padding: 1px 5px !important;
  font-size: 15px;
  line-height: 18px;
  height: 18px !important;
  width: initial !important;
}


i.mce-i-uap_btn_forms:before{
	content: '\f180';
}
i.mce-i-uap_btn_forms:after{
	content: 'Affiliates ShortCodes';
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	vertical-align: inherit;
	padding-left: 3px;
    padding-right:3px;
}

/****************** POPUP **********************/
.uap-popup-wrapp{
	position: fixed;
	z-index: 999991;
	top: 0px;
	height: auto;
	left: 0px;
	width: 100%;
	min-height: 100%;
    background-color: rgba(0,0,0,0.30);
}
.uap-popup-wrapp .uap-the-popup{
    width: 45%;
    min-width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
	margin-bottom:6%;
	bottom:10px;
    font-family: "Open Sans",sans-serif;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-top{
	border-bottom: 1px solid #ddd;
  	background-color: #fafafa;
    padding:13px 9px;
}
.uap-the-popup-locker .uap-popup-top{
	background-color: #555f6e !important;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-top .title{
    float: left;
    margin: 5px 0px 5px 5px;
    font-size: 18px;
    color: #333;
	font-weight:bold;
	color: #d9534f;
	-webkit-animation-name: fadeInLeftTitle;
  	animation-name: fadeInLeftTitle;
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.uap-the-popup-locker .uap-popup-top .title{
    color: #fff !important;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-top .close-bttn{
	background-size:25px;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
	background: url(../images/close_bk.png);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	opacity:0.3;
}
.uap-the-popup-locker .close-bttn{
	background: url(../images/close.png) !important;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-top .close-bttn:hover{
	opacity:0.8;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-content{
    padding: 25px 10px;
    background: #fff;
	min-height:250px;
	border: 1px solid #dd;
	border-top:none;
}
.uap-the-popup-locker .uap-popup-content{
	background-color: #fafafa !important;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-content .uap-popup-left-section{
	width: 30%;
	display: inline-block;
	background-color:#fafafa;
	padding:15px;
    box-sizing: border-box;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-content .uap-popup-right-section{
	width: 69%;
	display: inline-block;
	vertical-align: top;
	padding:25px 20px;
    box-sizing: border-box;
	background-color:#fff;
	border-left:1px solid #ddd;
	height:100%;
	min-height:350px;
}

.uap-popup-wrapp .uap-the-popup .uap-popup-content .uap-popup-label{
	font-size: 14px;
	font-weight: 500;
	color: #333;
	margin-top: 15px;
}
.uap-popup-wrapp .uap-the-popup .uap-popup-content .uap-bttn-wrap{
	margin-top: 25px;
	text-align: center;
}
.uap-popup-shortcodevalue{
	padding: 10px 0px;
	color: #888;
	font-size: 16px;
	background: #f7f7f7;
 	border: 1px solid #ccc;
  	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	width: 150px;
    height: 180px;
	margin:10px 20px;
	float:left;
	font-family: "Open Sans",bold;
  	font-size: 15px;
    font-weight: bold;
  	position: relative;
  	text-align: center;
  	/*text-transform: uppercase;*/
	line-height: 20px;
}

.uap-popup-shortcodevalue .fa-uap{
	font-size: 56px;
  	display: block;
  	line-height: 100px;
}
.uap-box-content-dashboard{
	background-color: #fff;
    width: 100%;
	margin-bottom:30px;
}
.uap-dashboard-top-affiliate{
  color: #fff;
  margin: 10px 0 15px 0;
  font-size: 17px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  vertical-align:top;
}
.uap-dashboard-top-affiliate span{
	display:inline-block;
	vertical-align:middle;
	font-size: 38px;
  line-height: 40px;
  padding-right: 5px;
  font-weight: 300;
}
.uap-dashboard-top-affiliate .uap-big-cunt{
	font-size:90px;
	line-height:100px;
	font-weight: 700;
}
.rank-type-list {
    background-color: #1fb5ac;
    color: #fff;
    padding: 3px 9px;
    margin: 2px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-radius: 3px;
    display: inline-block;
}
.uap-subcr-type-list{
	background-color: #f1f1f1;
    color: #666;
    padding: 3px 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-radius: 1px;
    display: inline-block;
    min-width: 70px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
}
.uap-subcr-type-list.uap-pending{
	background-color: rgba(240, 80, 80, 1.0);
    color: #9b4449;
    background-color: #f9f2f0;
    border-color: #f8cdcd;
}
.uap-list-affiliates-name-label{
	color: #21759b;
	font-weight:bold;
	width:120px;
	font-family: 'Oswald', arial, sans-serif !important;
	font-size: 14px;
	font-weight: 400;
}
.uap-inside-item{
	padding: 10px 5px;
	box-sizing:border-box;
}
.uap-line-break {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 5px 0px 5px 0px;
}
.uap-top-message {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 21px;
    line-height: 38px;
}
.uap-disabled-box{
	opacity: 0.5;
}
.uap-labels-special{
	font-weight: bold;
    color: #21759b;
    display: block;
    margin: 5px 0;
    font-family: 'Oswald', arial, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
}
.uap-error-message{
    margin: 10px 0px;
    margin-left: -20px;
    padding: 12px 19px 12px 15px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #F0DBB4;
    color: #9b4449;
    background-color: #fff6f4;
    border-color: #f8cdcd;
    margin-top: -10px;
}
.uap-special-line {
    font-weight: bold;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid rgba(31, 181, 172, 1.0);
    margin: 5px -11px 10px -11px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.uap-alternate tr:nth-child(even) {
    background-color: #f9f9f9;
}
#ui-datepicker-div{
	z-index: 10000;
}

.payment-box{
	background-color:#fefefe;
	border:1px solid #ddd;
	border-radius:10px;
	padding:50px;
	padding-top:10px;
	box-sizing:border-box;
}
.uap-achievement{
	font-family: 'Oswald', arial, sans-serif !important;
	padding: 8px 4px;
    font-size: 14px;
    font-weight: 300;
    color: #666;
}
.uap-dashboard-list-posts-col-default-pages{
    color: #fff;
    font-size: 11px;
    padding: 1px 8px;
	border-radius: 10px;
	background-color: #f36510;
	margin-right: 5px;
	display: inline-block;
}
#uap_default_pages h2{
	background-color: #f36510;
	color: #fff;
}
#uap_default_pages .inside {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 12px 0;
    background-color: #fff;
    border: 1px solid #eee;
    border-width: 1px 0 1px 0;
}
#uap_default_pages .uap-metabox-not-set{
	color: #b94a48;
    background-color: #f2dede;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #eed3d7;
    padding: 4px 12px;
    margin: 3px 0;
    display: block;
}
#uap_default_pages .uap-padding{
	padding: 0px 10px;
}

.uap-ap-tabs-list{
	border-bottom: 1px solid #c9c9c9;
    background-color: #607d8b;
    color: #fff;
    margin: 0 -10px;

}
.uap-ap-tabs-list .uap-ap-tabs-list-item{
	display: inline-block;
	vertical-align: top;
	padding:8px 25px 8px 20px;
	box-sizing:border-box;
	cursor: pointer;
	margin:0px;
	border-bottom: 1px solid #738E9A;
    border-right: 1px solid #738E9A;
	    float: left;
    font-size: 13px;
	color: #fff;
	    line-height: 30px;
}
.uap-ap-tabs-list .uap-ap-tabs-list-item.uap-ap-tabs-selected-item{
	color: #fff;
	background-color: #47565d !important;
}
.uap-ap-tabs-settings{

}
.uap-ap-tabs-settings .uap-ap-tabs-settings-item{
	display: none;
    margin-top: 20px;
}
.uap-ap-tabs-settings .uap-ap-tabs-settings-item .input-group{
	margin-top: 5px;
}
.link-magic_features{
    color: #aaff7c !important;
}

.uap-admin-aff-payment-type{
	font-size: 10px;
    padding: 2px 6px;
    background-color: rgba(240, 80, 80, 0.8);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline-block;
}
.uap-admin-aff-payment-type.uap-payment-type-active-paypal{
	background-color: #0a9fd8;
}
.uap-admin-aff-payment-type.uap-payment-type-active-bt{
	background-color: #0bb586;
}
.uap-admin-aff-payment-type.uap-payment-type-active-stripe{
	background-color: #6a3da3;
}
.uap-payment-details-bt-data{
	font-size: 9px;
	color: #333;
}

/* --------------------- RIGHT MENU ------------------- */
.uap-right-menu{
    position: fixed;
    top: 220px;
	right: 0px;
    z-index: 9;
}
.uap-right-menu .uap-right-menu-item{
    text-align: left;
	padding: 5px 5px;
	width: 60px;
	right: -40px;
	position: relative;
	overflow: hidden;
	opacity:0.7;
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	box-sizing:border-box;
	background-color: #616f76;
    margin-bottom:3px;
}
.uap-right-menu .uap-right-menu-item:hover{
	right: 0px;
	overflow: visible;
	background-color:#a7cc2b;
	opacity:1;
}
.uap-right-menu .uap-right-menu-item:hover .uap-right-menu{}
.uap-right-menu-title{
	visibility: hidden;
    left: 75px;
    position: relative;
    font-size: 9px;
	font-weight:bold;
    line-height: 7px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	box-sizing:border-box;
	text-align:center;
}
.uap-right-menu .uap-right-menu-item:hover .uap-right-menu-title{
	left: 0px;
	visibility: visible;
}
.uap-right-menu .uap-right-menu-item a {
	color: #FFF;
	text-decoration: none;
}
.fa-user_shortcodes-uap:before {
    content: "\f121";
}
.uap-right-menu .fa-uap-menu{
	width:25px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.uap-right-menu .uap-right-menu-item:hover .fa-uap-menu{
	margin:0 auto;
}
.uap-right-menu .fa-uap-menu {
    font-size: 24px !important;
    display: block !important;
    margin-bottom: 5px !important;
    color: #FFF !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.fa-listing_users-uap:before{
    content: "\f0c0";
}
.fa-shortcodes-uap:before {
    content: "\f121";
}
.fa-shortcodes-uap{
	width: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

/*************** SHORTCODE PAGE ******************/
.uap-popup-shortcodevalue span {
    display: block;
    line-height: 24px;
    color: #000;
    font-weight: 700;
}
.uap-popup-shortcodevalue .fa-uap{
	font-size: 56px;
    display: block;
	line-height: 80px;
}
.uap-popup-shortcodevalue .fa-user-plus-uap:before,
.uap-popup-shortcodevalue .fa-sign-in-uap:before,
.uap-popup-shortcodevalue .fa-unlock-uap:before,
.uap-popup-shortcodevalue .fa-user-uap:before{
	font-size: 56px;
	line-height: 80px;
}
.uap-fullwidth{
	width: 100%;
}
.uap-avatar-tr-dashboard{
	background-color: rgba(241, 80, 91,0.2) !important;
    font-weight: bold;
}
.ui-sortable .uap-list-affiliates-name-label{
	display:inline-block;
	width:auto;
}
.uap-license-status{
	padding: 0 60px;
    font-weight: bold;
}
.uap-dashboard-valid-license-code{
	color:#093;
	padding:20px 0;
}
.uap-dashboard-err-license-code{
	color: #9b4449;
	padding:20px 0;
}
.uap-admin-listing-ranks-achieve{
	font-size: 11px;
	color: #333;
}

.uap-error-global-dashboard-message{
    border-left: 4px solid #dc3232;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
    color: #444;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    display: block !important;
    margin-bottom: 20px;
}
.uap-error-global-dashboard-message p{
	margin: 13px 0px;
}

.uap-edit-wp-user-label{
	vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
    display: inline-block;
}
.uap-edit-wp-user-status{
	padding: 20px 10px 20px 0;
	display: inline-block;
	vertical-align: top;
}
.uap-inactive-tab{
    color: #CCC !important;
}
.uap-info-box{
	margin:10px 0;
	padding: 12px 19px 12px 15px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #F0DBB4;
    color: #6398c0;
    background-color: #bfe3fb;
    border-color: #9abfd9;
    display: table;
	box-sizing:border-box;
}
.uap-info-box:after{
	content: " ";
	display:block;
}

/******************** LIST USERS SHORTCODE GENERATOR ***********************/
.uap-user-list-wrap{
    padding: 0px 20px 0px 10px;
}
.uap-user-list-wrap .uap-user-list-settings-wrapper{
	border: 1px solid #ddd;
    background-color: #fff;
	padding-bottom: 10px;
}
.uap-user-list-wrap .actions {
    margin-top: 0px;
    float: right;
    margin-right: 10px;
}
.uap-user-list-wrap .box-title {
    border-bottom: 2px solid #ddd;
    padding: 7px 0 7px 10px;
    background: #ededed;
}
.uap-user-list-wrap .box-title h3 {
    float: left;
    margin: 3px 0 3px 0;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-size: 20px;
}
.uap-user-list-wrap .btn {
    background: none;
    background-image: none !important;
    color: #333;
    padding: 5px 9px !important;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.uap-user-list-wrap .box-title a.btn:hover {
    background: none;
    background-color: #368ee0;
    color: #fff;
}
.fa-icon-angle-down-uap:before{
	content: "\f085";
    font-size: 20px;
    margin-right: 5px;
}
.fa-icon-cogs-uap:before{
    content: "\f107";
    font-size: 14px;
}
.fa-icon-slider-uap:before{
    content: "\f0dc";
    margin-right: 5px;
}
.pointer{
	cursor: pointer;
}
.uap-user-list-wrap .uap-list-users-settings{
    width: 100%;
    padding: 15px 0;
    background: rgb(250, 250, 250);
}
.uap-user-list-wrap .uap-column{
	float: left;
    width: 25%;
    padding: 8px;
	box-sizing:border-box;
}
.uap-memberslist-fields{
	display: inline-block;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 14px;
    padding-top: 10px;
}

.uap-user-list-wrap .splt-1{
	width:60%;
	float:left;
	padding:0 3px;
	box-sizing:border-box;
}
.uap-user-list-wrap .splt-2{
	width:40%;
	float:left;
	padding:0 3px;
	box-sizing:border-box;
}
.fa-icon-dispent-uap:before{
	content: "\f0e4";
    margin-right: 5px;
}
.uap-user-list-wrap .uap-settings-inner{
	background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px;
	min-height:340px;
}
.column-two .uap-settings-inner{
	    min-height: initial;
}
.uap-spacewp_b_divs {
    height: 1px;
    background: #eee;
    margin: 5px 0px 10px 0px;
	clear:both;
}
.uap-user-list-wrap .uap-column h4 {
    font-size: 17px;
    color: #1e4c7f;
    margin: 0px;
    margin-top: 4px;
    font-size: 14px;
    padding: 10px 0 10px 10px !important;
    background-color: #d9534f;
    color: #fff;
}
.uap-user-list-wrap .uap-user-list-row{
	margin-bottom: 10px;
}
.uap-user-list-wrap .uap-user-list-row .uap-label{
	width: 40%;
	display: inline-block;
	font-weight: bold;
}
.uap-user-list-wrap .uap-user-list-row .uap-field{
	display: inline-block;
	vertical-align: top;
}
.column-three .uap-user-list-row .uap-field{
	display:block;
}
.column-three .uap-user-list-row .uap-label{
	width:100%;
}
.column-three .uap-user-list-row .uap-field select{
	width:100%;
}

.fa-icon-entryinfo-uap:before{
	content: "\f05d";
    margin-right: 5px;
}
.fa-icon-temp-uap:before{
	content: "\f06e";
    margin-right: 5px;
}
.uap-user-list-wrap .color-scheme-item, .uap-user-list-wrap .color-scheme-item-selected{
	width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.uap-user-list-wrap .color-scheme-item-selected, .uap-user-list-wrap .color-scheme-item:hover{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.uap-user-list-wrap .extra-info{
	font-style: italic;
    font-size: 10px;
    color: #6F6F6F;
}
.uap-user-list-shortcode-wrapp{
    background: #c6d8ed;
    background: #d7e0ea;
    color: #1e4c7f;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.uap-user-list-shortcode-wrapp .content-shortcode {
    padding: 8px 15px;
    background-color: #39434D;
    color: #ededed;
}
.fa-icon-eyes-uap:before{
	content: "\f06e";
    margin-right: 10px;
}
.uap-user-list-preview{

}
.uap-user-list-preview .box-title{

}
.uap-user-list-wrap .box-title h2 {
    float: left;
    margin: 3px 0 3px 0;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    font-size: 20px;
}
.uap-user-list-wrap .actions-preview {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}
.uap-user-list-preview .uap-preview {
    padding: 15px;
    background-color: #fff;
}
.uap-affiliates_menu {
    color: #aaff7c !important;
}
.uap-user-is-affiliate{
	font-size: 10px;
    padding: 2px 6px;
	background-color: #0a9fd8;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline-block;
}
.uap-memberslist-fields {
    display: inline-block;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 14px;
    padding-top: 10px;
}
.uap-memberslist-fields input[type="checkbox"]{
	margin: 0px !important;
}
.uap-custom-field-item-wrapp {
    cursor: move;
}

.uap-subcr-type-list {
  background-color: #f1f1f1;
  color: #666;
  padding: 3px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  box-radius: 1px;
  display: inline-block;
  min-width: 70px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align:center;
}
.uap-subcr-type-list.uap-pending{
	background-color:rgba(240, 80, 80, 1.0);
	color: #9b4449;
    background-color: #f9f2f0;
    border-color: #f8cdcd;
}
.uap-dashboard-notification-top{
	position: absolute;
    top: 10px;
    left: 65%;
    border-radius: 10px;
    background-color: #f14c3f;
    padding: 1px 6px;
    font-size: 9px;
    line-height: 17px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 2px 7px !important;
}
#uap_mlm_chart .google-visualization-orgchart-table{
		border-collapse: separate;
}
#uap_mlm_chart .google-visualization-orgchart-node{
	font-size:14px;
	font-weight:bold;
	background-color: #f9f9f9;
	background: #f9f9f9;
	color: #2a81ae;
	border: 1px solid #ddd;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
	padding: 7px 8px;
	box-sizing:border-box;
}
#uap_mlm_chart tr:nth-child(2) .google-visualization-orgchart-node{
	background-color: #f25a68;
	background: #f25a68;
	color:#fff;
	padding: 20px 12px;
	font-size: 15px;
}
#uap_mlm_chart .google-visualization-orgchart-node div{
	font-size:12px;
	color:#555;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-weight:500;
}
#uap_mlm_chart .google-visualization-orgchart-node:hover{
	background-color: #2a81ae;
	background: #2a81ae;
	color:#fff;
	cursor:pointer;
}
#uap_mlm_chart .google-visualization-orgchart-node:hover div{
	color:#eee;
}
#uap_mlm_chart  .google-visualization-orgchart-linebottom{
		border-bottom: 2px solid #eee;
}
#uap_mlm_chart  .google-visualization-orgchart-lineleft{
		border-left: 2px solid #eee;
}
#uap_mlm_chart  .google-visualization-orgchart-lineright{
		border-right: 2px solid #eee;
}
#uap_mlm_chart  .google-visualization-orgchart-linetop{
		border-top: 2px solid #eee
}

.uap-admin-tables td{
	font-size: 10px;
}
.uap-admin-tables th{
	font-size: 12px;
}
.uap-admin-tables .referral-status-verified, .uap-admin-tables .referral-status-refuse, .uap-admin-tables .referral-status-unverified{
	padding: 3px 8px;
}
.uap-wrapp-submit-bttn{
	margin:15px 10px;
}

.uap-affiliate-flag-wrapp{
	display: inline-block;
	margin: 2px;
}
.uap-affiliate-flag-wrapp .uap-affiliate-admin-flag{
	width: 15px;
	 display: inline-block;
    margin: 0 2px;
    border-radius: 100%;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}
.uap-payment-details-do-payment{
	font-size: 9px;
}
.uap-admin-info-p{
	font-size: 10px;
	color: #444;
    margin: 0px;
}
.uap-additional-help {
    position: absolute;
    bottom: 50px;
    right: 25px;
}
.uap-black-button {
	color:#fff !important;
	border: 1px solid #353535 !important;
    background: #444 !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#333)) !important;
}
.uap-green-button {
	color:#fff !important;
	border: 1px solid #719f42 !important;
    background: #86b854 !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#86b854), to(#719f42)) !important;
}
.uap-red-button {
	color:#fff !important;
	border: 1px solid #c64537 !important;
    background: #fb5b4b !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fb5b4b), to(#db4e40)) !important;
}
.uap-footer-text{
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
	line-height:28px;
}
.uap-footer-wrap{
	margin-top:50px;
}
.uap-plugin-version{
	position: absolute;
    top: 46px;
    right: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.uap-plugin-version{
	position: absolute;
    top: 46px;
    right: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.uap-info-list{
	padding-left: 15px !important;
    margin-left: 10px !important;
    border-left: 2px solid #C56767 !important;
}
.uap_item_status_active {
    width: 10px;
    height: 10px;
	margin:0 auto;
    margin-top: 5px;
    background: #0bb586;
    border-radius: 100%;
    cursor: pointer;
}
.uap_item_status_nonactive {
    width: 10px;
    height: 10px;
	margin:0 auto;
    margin-top: 5px;
    background: #ee3733;
    border-radius: 100%;
    cursor: pointer;
}

.uap-field-text-with-padding{
	padding: 6px;
}

.uap-text-center {
    text-align: center !important;
}



.uap-dashboard-wrap, .uap-wrapper, .uap-footer-wrap{
	 color: rgba(125,138,157,1.0);
}
.uap-dashboard-wrap .uap-stuffbox .uap-h3{
	color: rgba(108,119,135,1.0);
}
.uap-wrapper .uap-admin-tables thead tr, .uap-wrapper .uap-admin-tables tfoot tr{
	background-color: rgba(80,88,107,1.0);
	height:46px;
}
.uap-wrapper .uap-admin-tables thead th, .uap-wrapper .uap-admin-tables tfoot th{
	color:rgba(255,255,255,1.0);
	font-family: 'Oswald', arial, sans-serif;
	padding: 8px 7px;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.uap-wrapper input[type=checkbox], .uap-wrapper input[type=color], .uap-wrapper input[type=date], .uap-wrapper input[type=datetime-local], .uap-wrapper input[type=datetime], .uap-wrapper input[type=email], .uap-wrapper input[type=month], .uap-wrapper input[type=number], .uap-wrapper input[type=password], .uap-wrapper input[type=radio], .uap-wrapper input[type=search], .uap-wrapper input[type=tel], .uap-wrapper input[type=text], .uap-wrapper input[type=time], input[type=url], .uap-wrapper input[type=week], .uap-wrapper select, .uap-wrapper textarea {
    color: rgba(125,138,157,1.0);
	    border-color: rgba(226,226,228,1);
    line-height: 23px;
    font-size: 14px;
}
.uap-wrapper .uap-admin-tables tbody td, .uap-wrapper .uap-admin-tables tbody th {
    -webkit-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    -ms-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
    -o-box-shadow: inset 0 -1px 0 rgba(100,100,100,.1);
	padding: 16px 9px 15px;
}
.toplevel_page_ultimate_affiliates_pro #wpadminbar{
	background-color: rgba(80,88,107,1.0);
}
.current.toplevel_page_ultimate_affiliates_pro a{
	    background: rgba(241,87,77,1.0) !important;
}
.current.toplevel_page_ultimate_affiliates_pro .wp-menu-image:before{
    background-color: rgba(240,241,242,1);
    color: rgba(244,82,70,1) !important;
    height: 28px;
    width: 28px;
    margin-top: 9px;
    line-height: 28px;
    border: 0 solid #1a1a1a;
    font-size: 15px;
    border-radius: 50%;
    z-index: 199;
    position: relative;
	padding:0px;
}

/************* FONT AWESOME POPUP ************/


.uap-icon-select-wrapper{
	height: 30px;
	border: 1px solid #CCC;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	background: #fefefe;
    color: #696A6E;
}
.uap-icon-input{
	width: 35px;
	height: 30px;
	cursor: pointer;
	font-size: 10px;
    font-weight: 700;
	float:left;
}
.uap-shiny-select-html{
	width: 35px;
	height: 30px;
	padding: 3px 6px;
	font-size: 18px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.uap-icon-arrow{
	float:left;
	width: 20px;
	height: 100%;
    text-align: center;
	display:table;
	background-color:#efefef;
	border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
	border-left: 1px solid #CCC;
	cursor:pointer;
}
.uap-icon-arrow i{
	font-size:19px;
	vertical-align: middle;
    text-align: center;
    display: table-cell;

}
.indeed_select_popup{
	width: 276px;
	height: 350px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #fff;
	    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dbe1e8;
    -webkit-box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    -moz-box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    -o-box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    box-shadow: 0 0 4px 0 rgba(50,50,50,.3);
    background-color: #fff;
	position:absolute;
	z-index:99999;
}
.uap-font-awesome-popup-item{
	display: inline-block;
	    float: left;
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 4px;
	margin-bottom:4px;
}
.uap-font-awesome-popup-item:hover{
	background: #66cbff;
	color: #fff;
	cursor: pointer;
}
.uap-font-awesome-popup-item .fa-uap-preview{
	font-size: 20px;
	padding: 3px;
}
#uap_reorder_menu_items tbody tr {
    cursor: move;
}
.uap-affiliate-list-counts{
	font-size:11px !important;
}

/************ progress bar *********/
.uap-progress-bar-warning{
		font-size: 20px;
		font-weight: bold;
		padding: 5px 0px;
		padding-bottom:20px;
}
.progress-bar-parent{
		position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
		text-align: center;
}
.progress-bar-parent .progress-bar{
		position: absolute;
		width: 40%;
}
.progress{
		width: 40%;
    position: absolute;
    top: 33%;
    left: 25%;
		height: 65px !important;
		background:transparent !important;
		color:#fff;
}
.uap-progress-bar {
    height: 6px;
    overflow: hidden;
    background-color: #e8e8e8;
    border-radius: 5px;
    margin: 2px 0 5px;
}
.uap-progress-completed {
    background-color: #18c1f0;
    height: 6px;
}
.uap-metrics-cell{
	padding-left: 2px !important;
    padding-right: 3px !important;
    font-weight: bold;
}
.uap-metris-leftside{
	    float: left;
    width: 40%;
    min-width: 70px;
    padding: 0 2px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}
.uap-metris-rightside{
    float: left;
    width: 60%;
    min-width: 80px;
    padding: 0 2px;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

.uap-half-block{
	width: 49%; 
	vertical-align: top; 
	display: inline-block;
}
.uap-access-label{
	font-weight:bold; 
	display:inline-block; 
	width: 25%;
}
.uap-inline-block{
	display:inline-block;
}
.uap-access-switch{
	margin:10px 0 10px -10px;
}
.uap-access-opacity{
	opacity:0.7;
}
