/*circle chart*/
.dashboard-icons {
  margin: 15px 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  padding: 1rem;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); /* 2, 3 */
  -webkit-transform-origin: center;
          transform-origin: center; /* 4 */
}
.circle-chart__circle--negative {
  -webkit-transform: rotate(-90deg) scale(1,-1);
          transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}
.circle-chart__info {
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  opacity: 0;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
}

@-webkit-keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.chart-wrapper {
  position: relative;
  width: 140px;
  margin: auto;
}
.icon-badge {
  position: absolute;
  top: 36px;
  right: 55px;
}

.cash-btn {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 7px;
  transition: background-color .3s ease-in-out;
}

.cash-btn:hover {
  background-color: #deffc4;
  cursor: pointer;
}

.currency:after {
    content: "تومان";
    font-family: "iransans";
    font-weight: 300;
    color: #b3b3b3;
    font-size: .6em;
    position: relative;
    top: -15px;
    display: inline-block;
    margin: 5px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}


.person:after {
    content: "نفر";
    font-family: "iransans";
    font-weight: 300;
    color: #b3b3b3;
    font-size: .6em;
    position: relative;
    top: -15px;
    display: inline-block;
    margin: 5px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

/* payment page css */

/*.money-req form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.money-req >form >input[type="text"].form-control {
  flex-grow: 2;
  width: auto;
  min-width: 100px;
}*/

.money-req {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.money-req .btn-success, .btn-primary {
  flex-grow: 1;
}


.acc-details ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.acc-details ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  padding: 1.5rem;
  border-bottom: 1px solid #9bcc5433;
  margin: .5rem;
  transition: border-bottom .3s ease-in-out;
}

.acc-details ul li:hover {
  border-bottom: 1px solid #9bcc54b3;
}
.acc-details ul li h4 {
  margin: 0;
  flex-grow: 1;
}

@media screen AND (max-width: 991px) {
  .acc-details ul {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}}

.balance-value:before {
  content: "تومان";
  font-family: "iransans";
  color: #b3b3b3;
  font-size: .8em;
  position: relative;
  top: -20px;
  float: left;
  margin: 5px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.identify{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.identify a {
  flex-grow: 1;
}
